/*
Let there be style 
*/

div#nodecomments{
	position:relative;
	min-height:500px;
}
textarea[class=nodecomments],input[class=nodecomments]{
	display:block;
	width:100%;
	min-width:200px;
	max-width:600px;
}
button[class=nodecomments]{

}
.nodeCommentsError{ background-color:Red; color:White; }

.nodeCommentsEvents{
	position:absolute;
	right:0;
	bottom:0;
	width:200px;
	height:400px;
	overflow-y:auto;
	overflow-x:hidden;
}
article[class=nodecomments]{
	cursor:pointer;
}
article[class=nodecomments]:hover{
	background-color:#ccc;
}
header[class=nodecomments]{
	font-size:1.5em;
}
section[class=nodecomments]{
	font-size:14px;
	padding:4px;
}
.nodecommentsdetails{
	font-size:.8em;
	color:#666;
}